<div class="page__footer">
    <div class="social_pages">
    <div class="social_pages__text">Присоединяйтесь к нам</div>
    <div class="social_pages__button">
        <a href="{{ this.theme.facebook_url }}" class="social_button facebook icon-facebook"></a>
        <a href="{{ this.theme.vk_url }}" class="social_button vk icon-vkontakte"></a>
        <a href="{{ this.theme.twitter_url }}" class="social_button twitter icon-twitter"></a>
        <a href="{{ this.theme.googleplus_url }}" class="social_button googleplus icon-google"></a>
    </div>
</div>