<div class="page__footer">
    <div class="social-pages">
    <div class="social-pages__text">Присоединяйтесь к нам</div>
    <div class="social-pages__button">
        <a href="{{ this.theme.facebook_url }}" class="social-button facebook icon-facebook"></a>
        <a href="{{ this.theme.vk_url }}" class="social-button vk icon-vkontakte"></a>
        <a href="{{ this.theme.twitter_url }}" class="social-button twitter icon-twitter"></a>
        <a href="{{ this.theme.googleplus_url }}" class="social-button googleplus icon-google"></a>
    </div>
</div>