@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?jhn6ea');
  src:  url('../../fonts/icomoon.eot?jhn6ea#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?jhn6ea') format('truetype'),
    url('../../fonts/icomoon.woff?jhn6ea') format('woff'),
    url('../../fonts/icomoon.svg?jhn6ea#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}
.icon-news:before {
  content: "\e901";
}
.icon-resume:before {
  content: "\e902";
}
.icon-info:before {
  content: "\e903";
}
.icon-play:before {
  content: "\e904";
}
.icon-share:before {
  content: "\e905";
}
.icon-favorite:before {
  content: "\e906";
}
.icon-edit:before {
  content: "\e907";
}
.icon-profile:before {
  content: "\e908";
}
.icon-vk:before {
  content: "\e909";
}
.icon-twitter:before {
  content: "\e90a";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-googleplus:before {
  content: "\ea88";
}
