[session]
security = "all"
==
<!DOCTYPE html>
<html lang="ru">
  <head>
    {% partial 'site/meta/meta' %}
  </head>

  <body id="app">
    <div class="wrapper">
      <div class="shadow"></div>

        <!-- header content -->
        <header>
          {% partial 'site/header/header' %}
        </header>
        <!-- /header content -->

        <!-- page content -->
        <main>

          {% partial 'site/main/mobi_nav' %}

          {% partial 'site/main/page' %}

        </main>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            {% partial 'site/footer/footer' %}
        </footer>
        <!-- /footer content -->
    </div>

    <!-- Custom Theme Scripts -->
    <script src="{{ ['assets/js/main.js']|theme }}"></script>
    {% framework extras %}
    {% scripts %}
    

  </body>
</html>