[session]
security = "all"
==
<!DOCTYPE html>
<html lang="ru">
  <head>
    {% partial 'meta/meta' %}
  </head>

  <body id="app">
    <div class="wrapper">
      <div class="shadow"></div>

        <!-- header content -->
        <header>
          {% partial 'layout/header' %}
        </header>
        <!-- /header content -->

        <!-- page content -->
        <main>

          {% partial 'layout/navigation' %}

          {% page %}

          {% partial 'page/page_footer' %}

        </main>
        <!-- /page content -->

        <!-- footer content -->

        {% partial 'layout/footer' %}
        
        <!-- /footer content -->
    </div>

    <!-- Custom Theme Scripts -->
    <script src="{{ ['assets/js/main.js']|theme }}"></script>
    <script src="http://localhost:8888/livereload.js"></script>
    {% framework extras %}
    {% scripts %}
    

  </body>
</html>